@import "../../assets/variables.scss";

.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  background-size: cover;
  z-index: 9999;
  top: 0;
  left: -100%;
  transition: all 0.4s ease;
  .data,
  .head {
    padding: 10px 20px;
  }

  * {
    text-transform: capitalize;
    color: $main-Color-back;
  }

  &.open {
    left: 0;
  }

  h1{
    font-size: 25px;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    .icon {
      position: absolute;
      bottom: -5px;
      font-size: 25px;
      right: 15px;
      font-weight: bold;
    }
    img {
      border-radius: 50%;
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
    margin-top: 10px;
    .inside {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 5px 0px;
      &.active {
        background-color: $main-Color-back;
        border-radius: 10px;
        margin: 10px 0px;
        font-size: 20px;
        padding: 10px;
        p,
        i {
          color: white !important;
        }
        font-weight: bold;
      }
    }
    .orders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      &:hover {
        .small {
          margin: 20px 0px;
          height: fit-content;
        }
        .topic {
          i:last-child {
            transform: rotate(90deg);
          }
        }
      }
      .topic {
        display: flex;
        gap: 15px;
        align-items: center;
        i:last-child {
          font-size: 12px;
        }
      }
      i {
        font-size: 18px;
        transition: $transtions;
      }
      .small {
        margin: 5px 20px;
        transition: $transtions;
        display: flex;
        height: 0;
        flex-direction: column;
      }
    }
  }

  .logOut {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-top: 2px solid #ddd;
  }
}
