@import "../../assets/variables.scss";

body.ar {
  i {
    border-top-left-radius: 0px !important ;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .beauty_profile {
    .info {
      button {
        flex-direction: row;
      }
    }
  }
}

.beauty_profile {
  position: relative;
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    display: none;
    @media screen and (max-width : 768px) {
      display: flex;
    }
    button , a {
      background-color: $main-Color-back;
      color: white !important ;
      font-weight: bold;
      max-width: fit-content;
      padding: 6px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 5px;
    }
  }
  .mega {
    display: flex;
    gap: 20px;
    .con {
      width: 75%;
      .text {
        padding: 30px 0 20px;
        border-bottom: 1px solid rgb(208, 208, 208);

        h1 {
          font-size: 32px;
          font-weight: 700;
        }

        .location {
          display: flex;
          align-items: center;
          gap: 2px;
          color: gray !important;

          span {
            font-size: 18px;
            font-weight: 600;
          }
        }

        .rate {
          display: flex;
          align-items: center;
          gap: 15px;

          .outOfFive {
            padding: 5px 15px;
            background-color: $main-Color-back;
            color: white;
            border-radius: 5px;
          }

          .inside {
            h1 {
              font-size: 25px;
            }
            p {
              color: rgb(147, 147, 147);
            }
          }
        }
      }
      .services {
        padding: 30px 0 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(208, 208, 208);
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        .items {
          display: flex;
          align-items: center;
          gap: 25px;
          flex-wrap: wrap;
          .item {
            display: flex;
            align-items: center;
            gap: 10px;

            h4 {
              font-weight: 700;
              font-size: 18px;
            }

            span {
              color: gray;
            }
          }
        }
        .book {
          background-color: $main-Color-back;
          color: white;
          border-radius: 10px;
          min-width: 200px;
          @media screen and (min-width: 1100px) {
            display: none;
          }
        }
        .btns {
          display: flex;
          gap: 10px;
          color: white;
          @media screen and (max-width: 1100px) {
            justify-content: space-between;
            flex-grow: 1;
            button {
              min-width: 150px;
              width: 50%;
              padding: 8px 0px;
            }
          }

          button {
            border-radius: 10px;
            background-color: $main-Color-back;
            &.comm {
              @media screen and (min-width: 1100px) {
                display: none;
              }
            }
            &.repo {
              padding: 0px 10px;
              background-color: red;
            }
          }
        }
      }
    }
    form {
      width: 25%;
      margin: 30px 0px;
      padding: 10px 20px;
      box-shadow: 0px 0px 10px #907c6c;
      flex-grow: 1;
      height: fit-content;
      border-radius: 10px;
      label {
        font-size: 13px;
        font-weight: bold;
      }
      .fields {
        .input-field {
          display: flex;
          margin-bottom: 5px;
          flex-direction: column;
          .flex {
            flex-grow: 1;
            flex-direction: row-reverse;
            border: 1px solid #ddd;
          }
          i {
            width: 30px;
            height: 42px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $main-Color-back;
            color: white;
            font-weight: bold;
          }
          input,
          select {
            outline: none;
            width: calc(100% - 30px);
            font-size: 14px;
            font-weight: 400;
            padding: 0 15px;
            height: 42px;
          }
        }
        .select {
          margin: 20px 0px;
          .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 8px 0px;
            border-bottom: 1px solid #ddd;
            i {
              color: $main-Color-back;
              cursor: pointer;
            }
          }
        }
        .taxes {
          border-bottom: 1px solid #ddd;
          padding-bottom: 8px;
          .flex {
            justify-content: space-between;
            color: $main-Color-back;
            font-weight: bold;
          }
        }
      }
    }
  }
  .overview {
    margin-top: 20px;
    h3 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .description {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 17px;
      color: #5e6d77;
      font-weight: 400;
      position: relative;

      p {
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
  }
}

.beauty_profile form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0% auto;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: $main-Color-back;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .beauty_profile {
    .mega {
      & > form {
        display: none;
      }
      .con {
        width: 100%;
      }
    }
    .reviewDiv {
      .box {
        width: 100% !important;
      }
      form.not {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .beauty_profile {
    .mega {
      height: fit-content !important;
      .con {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        .text {
          order: 2;
          margin-top: 100px;
          flex-direction: column;
          div {
            text-align: center;
            a {
              display: flex;
              justify-content: center;
              margin-bottom: 10px;
            }
          }
        }
        .boxSlider {
          position: absolute;
          top: -200px;
          .swiper {
            width: 300px;
            z-index: 2000;
          }
          .swiper-slide {
            width: 300px !important;
          }
          img {
            max-height: 300px;
          }
        }
        .services {
          order: 3;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 0;
          .items {
            text-align: center;
            .item {
              flex-grow: 1;
            }
          }
          button {
            padding: 10px 0px;
          }
        }
        .overview {
          order: 4;
        }
      }
    }
  }
}

.beauty_profile {
  .model_poup.active {
    .content {
      padding-bottom: 0;
    }
    form {
      width: 100%;
      box-shadow: 0px 0px !important;
      margin: 0;
      padding: 10px 20px !important;
    }
  }
}

@media screen and (min-width: 1100px) {
  .beauty_profile {
    .mega,
    .reviewDiv {
      .overflow,
      .model_poup {
        display: none !important;
      }
    }
  }
}
