.beauty_profile {
  .text {
    h1 {
      font-size: 32px;
      font-weight: 700;
    }

    .price {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .desc {
      font-size: 17px;
      color: gray;
      margin-bottom: 10px;
    }
  }
}
