.profile{
  position: relative;
  margin-bottom: 30px;
  .grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: calc(100vh - 106px);
    @media screen and (max-width : 768px) {
      display: block;
      height:auto ;
      .side{
        display: none;
      }
      .account{
        padding: 0px ;
      }
      .view{
        form{
          padding: 0;
        }
      }
    }
    .view{
      display: flex;
      align-items:center;
      padding: 0px 20px;
    }
  }
}