@import "../../assets/variables.scss";

.trending_section {
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 25px 0;
  }

  .title_section {
    font-size: 30px;
    font-weight: 700;
  }

  .boxs {
    .swiper {
      padding: 20px 0;
      @media (max-width: 768px) {
        padding: 10px 0;
      }
    }
    .box {
      padding: 15px;
      background-color: var(--secondBG);
      * {
        color:  var(--font-color);
      }
      box-shadow: var(--box-shadow);
      border-radius: 10px;

      @media (max-width: 768px) {
        padding: 10px;
      }

      .image {
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          height: 180px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 19px;
        }
      }

      .desc {
        color: gray;
        font-size: 15px;
        margin-bottom: 5px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      .price {
        font-weight: 700;
        font-size: 20px;
      }

      .btn_booking {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: white;
        background-color: $main-Color-back;
      }
    }
  }
}
