@import "../../assets/variables.scss";



.Shein {
  @media screen and (max-width : 768px) {
    .control{
      gap: 10px;
    }
    .box{
      padding: 8px !important;
    }
    .filter{
      & > div {
        justify-content: space-between;
        div{
          gap: 3px;
        }
      }
    }
  }
  .box {
    box-shadow: 0px 0px 20px #ddd;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    .img {
      position: relative;
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
      .absloute {
        position: absolute;
        padding: 10px;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .heart,
        .cart {
          background-color: $main-Color-back;
          padding: 4px 8px;
          color: white;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          max-width: fit-content;
        }
        .items-center {
          p {
            background-color: white;
            padding: 2px 8px;
            display: flex;
            align-items: center;
            gap: 3px;
            color: $main-Color-back;
            border-radius: 5px;
            cursor: pointer;
            max-width: fit-content;
            font-size: 14px;
            i {
              font-size: 10px;
            }
          }
        }
      }
      .icon:hover {
        svg {
          transition: $transtions;
          color: red !important;
        }
      }
      .dis {
        width: 100%;
        padding: 0px 10px;
        display: flex;
        position: absolute;
        justify-content: end;
        span {
          position: absolute;
          background-color: $main-Color-back;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          border-radius: 50%;
          border: 2px solid white;
          bottom: -20px;
        }
      }
    }
    .con {
      padding: 10px 0px;
      padding-right: 10px;
      h1 {
        color: $font-ddd;
        padding-bottom: 10px;
        @media screen and (max-width : 768px) {
          margin-top: 15px;
        }
        border-bottom: 1px solid $main-Color-back;
      }
      .inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          padding: 0px 10px;
          margin-top: 10px;
          border-radius: 10px;
          display: flex;
          gap: 4px;
          flex-direction: column;
          color: $main-Color-back;
          font-weight: bold;
          p {
            font-size: 14px;
            text-decoration: line-through;
            height: 7px;
          }
          h2 {
            font-size: 20px;
          }
        }
      }
      .rate {
        display: flex;
        align-items: center;
        gap: 5px;
        span:first-child {
          font-size: 18px;
          color: $main-Color-back;
        }
        span:last-child {
          font-size: 12px;
        }
      }
      .add {
        margin-top: 10px;
        width: 50px;
        cursor: pointer;
        background-color: $main-Color-back;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 4px 8px;
        border-radius: 10px;
        button {
          width: fit-content;
        }
      }
    }
  }
}
