@import "../../assets/variables.scss";

.mini_header {
  background-color: $main-Color-back;
  color: var(--font-color);
  padding: 8px 0;

  @media (max-width: 768px) {
    display: none;
  }
}

header {
  padding: 10px 0;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid rgb(223, 223, 223);
  *{
    color: var(--font-color);
  }
  @media (max-width: 768px) {
    border-bottom: unset;
  }

  .paths {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 15px;

    .link {
      font-weight: 700;
      font-size: 16px;
      transition: all 0.4s ease;

      &:hover,
      &.active {
        color: $main-Color-back !important;
      }
    }
  }

  .location {
    svg {
      color: $main-Color-back;
    }

    span {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
