@import "../../../assets/variables.scss";

body.ar {
  .account {
    form {
      i {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px !important ;
        border-bottom-right-radius: 5px !important;
      }
      input , select {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important; 
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

.account {
  width: 100%;
  form {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding: 20px;

    .form {
      i {
        width: 30px;
        height: 42px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: $main-Color-back;
        color: white;
        font-weight: bold;
      }
      .details {
        .title {
          display: block;
          font-size: 16px;
          font-weight: bold;
          border-bottom: 1px solid $main-Color-back;
          padding-bottom: 15px;
          width: 100%;
        }
        .fields {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;
          align-items: start;
          margin-top: 10px;
          .input-field {
            display: flex;
            flex-direction: column;
            .flex {
              flex-grow: 1;
              flex-direction: row-reverse;
            }
            width: calc((100% - 20px) / 2);
            flex-grow: 1;
            input,
            select {
              width: calc(100% - 20px);
            }
            label {
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 5px;
            }
            input,
            select {
              outline: none;
              font-size: 14px;
              font-weight: 400;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              padding: 0 15px;
              height: 42px;
            }
          }

          .input-field {
            input {
              color: black;
              &::placeholder {
                color: black;
              }
            }
          }
        }
      }
    }
    .settings {
      margin-top: 10px;
      display: flex;
      gap: 8px;
      .input_switch {
        h2 {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        width: 50%;
        .inside {
          position: relative;
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 5px;
          justify-content: space-between;
        }

        .flex {
          align-items: center;
          gap: 10px;
          height: 42px;
          padding: 10px;
        }

        span {
          font-weight: 600;
          display: block;
          margin-bottom: 4px;
          flex: 1;
        }

        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
          display: none;
        }

        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 40px;
          height: 20px;
          background: grey;
          display: block;
          border-radius: 100px;
          position: relative;
        }

        label:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 3px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
        }

        input:checked + label {
          background: $main-Color-back;
        }

        input:checked + label:after {
          left: calc(100% - 3px);
          transform: translateX(-100%) translateY(-50%);
        }

        label:active:after {
          width: 130px;
        }
      }
      .lang {
        border-radius: 5px;
        width: 50%;
        label {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .inside {
          display: flex;
          .input_item {
            flex-grow: 1;
            select {
              width: 100%;
              height: 42px;
              outline: none;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border: none;
              color: black;
              option {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

.account form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0% auto;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: $main-Color-back;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .account {
    form {
      box-shadow: 0px 0px 0px;
    }
    .form {
      padding: 0 !important;
      .details {
        .fields {
          gap: 10px !important;
        }
        .input-field {
          width: calc((100% - 20px) / 1) !important;
        }
      }
    }
  }
}
