@import "../../assets/variables.scss";


body.ar{
  .side{
    .orders{
      &:hover{
        .topic{
          i:last-child{
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}


.side {
  max-width: 300px;
  background-color: $main-Color-back;
  height: 100%;
  padding: 20px;
  color: white;
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid white;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .data {
    display: flex;
    flex-direction: column;
    *{
      text-transform: capitalize;
    }
    gap: 5px;
    margin-top: 20px;
    .inside {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 34px;
      border-radius: 10px;
      &:last-child {
        border: none;
      }
      &:hover{
        background-color: white;
        padding: 0px 10px;
        transition: $transtions;
        color: $main-Color-back !important;
      }
    }
    .orders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        .small {
          height: 136px;
        }
        .topic{
          i:last-child{
            transform: rotate(90deg);
          }
        }
      }
      .topic {
        display: flex;
        gap: 15px;
        align-items: center;
        i:last-child{
          font-size: 12px;
        }
      }
      i {
        font-size: 18px;
        transition: $transtions;
      }
      .small {
        margin: 5px 10px;
        display: flex;
        transition: $transtions;
        height: 0;
        overflow: hidden;
        flex-direction: column;
      }
    }
  }
}
