@import "../../assets/variables.scss";

.sign {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .all {
    width: 90%;
    border: 1px solid $font-ddd;
    box-shadow: 0px 0px 30px white;
    min-height: fit-content;
    max-height: 90vh;
    border-radius: 10px;
    padding: 20px;
    header {
      font-size: 20px;
      color: white;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
    }
    form {
      .details {
        margin-top: 1%;
        .title {
          color: white;
          font-size: 16px;
          font-weight: bold;
        }
        &.prand {
          border-top: 1px solid white;
          padding-top: 10px;
        }
        .fields {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          align-items: start;
          margin-top: 10px;
          .input-field {
            display: flex;
            flex-direction: column;
            width: 22%;
            flex-grow: 1;
            &.mega {
              .con {
                display: flex;
                gap: 10px;
                max-width: 100%;
                .inMega {
                  flex-grow: 1;
                  max-width: 100%;
                  input {
                    display: block;
                    width: 100%;
                  }
                  &.holi {
                    max-height: 70px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    scrollbar-width: thin;
                    scrollbar-color: white transparent;
                    span {
                      display: flex;
                      align-items: center;
                      min-width: 200px;
                      gap: 5px;
                      input {
                        width: fit-content;
                      }
                    }
                    input {
                      height: fit-content;
                    }
                  }
                }
              }
            }
            label {
              font-size: 13px;
              font-weight: bold;
              color: black;
            }
            input,
            select {
              transition: $transtions;
              outline: none;
              font-size: 14px;
              font-weight: 400;
              border-radius: 5px;
              color: white;
              &::placeholder{
                color: white;
              }
              padding: 0 15px;
              height: 42px;
              background-color: $main-Color-back-small;
              &[type="file"] {
                padding-top: 8px;
              }
              option{
                background-color: white !important;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

.sign form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: $main-Color-back-small;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .sign {
    .all {
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: white transparent;
      form {
        .form {
          .personal {
            padding-bottom: 10px;
          }
          .input-field {
            width: 40% !important;
            .con {
              flex-wrap: wrap;
              .inMega {
                width: 100px;
                input[type="number"] {
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .sign {
    .all {
      form {
        .form {
          .input-field {
            width: 100% !important;
            .con {
              .inMega {
                input[type="number"] {
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }
}
