@import "../../assets/variables.scss";

body.ar {
  .sign {
    .all {
      .img {
        img {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      form {
        .form {
          input,
          select {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0px !important ;
            border-bottom-right-radius: 0px !important;
          }
        }
      }
      i {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px !important ;
        border-bottom-right-radius: 5px !important;
      }
      .step {
        left: auto !important;
        right: 20px !important;
      }
    }
  }
}

.sign {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  .all {
    position: relative;
    width: 90%;
    .header {
      display: none;
    }
    box-shadow: 0px 0px 10px #907c6c;
    display: flex;
    border-radius: 20px;
    .img {
      max-width: 100%;
      flex-basis: 40%;
      img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
    i {
      width: 30px;
      height: 42px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: $main-Color-back;
      color: white;
      font-weight: bold;
    }
    form {
      position: relative;
      flex-basis: 60%;
      height: fit-content;
      .form {
        padding: 15px;
        padding-bottom: 0%;
        height: 100%;
        .btns{
          p{
            text-align: center;
            font-size: 18px;
            text-transform: capitalize;
            span{
              font-size: 20px;
              color: $main-Color-back;
              font-weight: bold;
            }
          }
        }
        .another {
          width: 100%;
          margin: 15px 0px;
          p {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              display: block;
              margin: 0px 3px;
              width: 20%;
              flex-grow: 1;
              height: 1px;
              background-color: $main-Color-back;
            }
            text-align: center;
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 10px;
          }
          button {
            gap: 10px;
          }
          .flexgo {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            button {
              width: fit-content !important;
              padding: 10px;
              height: auto;
              color: black;
              flex-grow: 1;
            }
          }
        }
        .details {
          .title {
            display: block;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid $main-Color-back;
            padding-bottom: 15px;
            width: 100%;
          }
          .fields {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            align-items: start;
            margin-top: 10px;
            .input-field {
              display: flex;
              flex-direction: column;
              width: calc((100% - 20px) / 4);
              flex-grow: 1;
              .flex {
                flex-grow: 1;
                flex-direction: row-reverse;
              }
              input,
              select {
                width: calc(100% - 20px);
              }
              label {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              input,
              select {
                outline: none;
                font-size: 14px;
                font-weight: 400;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 0 15px;
                height: 42px;
                &[type="file"] {
                  padding-top: 8px;
                  background-color: white;
                }
              }
            }
            .work {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              .inputs {
                display: flex;
                gap: 10px;
                input,
                select {
                  width: calc(100% - 20px);
                }
                .flex {
                  flex-grow: 1;
                  flex-direction: row-reverse;
                }
              }
              label {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              input {
                outline: none;
                font-size: 14px;
                font-weight: 400;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 0 15px;
                height: 42px;
              }
            }
            .holi {
              label {
                font-weight: bold;
                margin-bottom: 5px;
              }
              span {
                display: inline-flex;
                align-items: center;
                min-width: 100px;
                gap: 3px;
                font-size: 16px;
              }
            }
            .input-field,
            .work {
              border-bottom: 1px solid #ddd;
              input,
              select {
                color: black;
              }
              input {
                &::placeholder {
                  color: black;
                }
              }
            }
          }
          &.personal {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
  gap: 10px;
  margin-bottom: 20px;
  .line {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: #ddd;
    span {
      display: block;
      height: 100%;
      border-radius: 20px;
      transition: 1s linear;
      background-color: $main-Color-back;
    }
    &:first-child {
      span {
        width: 100%;
      }
    }
    &:nth-child(2) {
      span {
        width: 0%;
        &.next {
          width: 100% !important;
        }
      }
    }
  }
}

.sign form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0% auto;
  margin-bottom: 15px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: $main-Color-back;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .sign {
    .all {
      box-shadow: 0px 0px 0px;
      border-radius: 0;
      display: block;
      background-image: url("../../assets/images/AuthPhone.PNG");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      .header {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 200px;
        .logo {
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }
        .wave {
          display: block;
          width: 100%;
          height: 300px;
          z-index: 1000;
          position: absolute;
          top: 20px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .img {
        display: none;
      }
      .form {
        transform: translateX(0) !important;
        padding: 0px 20px;
        margin-top: 50px;
        .details {
          .fields {
            gap: 20px !important;
          }
          .input-field,
          .work {
            width: calc((100% - 20px) / 1) !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1120px) and (max-width: 1353px) {
  .sign {
    .all {
      .img {
        max-height: 730px;
      }
    }
  }
}

@media screen and (min-width: 1353px) {
  .sign {
    .all {
      .img {
        max-height: 705px;
      }
    }
  }
}
