
@import "../../assets/variables.scss" ; 

.slider {
  .swiper-slide {
    img {
      border-radius: 12px;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {

  &::after {
    font-size: 28px;
    color: black;
  }
}

.swiper-pagination-bullet-active {
  background-color: black;
}



