@import "../../assets/variables.scss";


.shein_item_profile {
  * {
    color: var(--font-color) !important;
  }
  .comments {
    background-color: var(--secondBG);
  }
  .container {
    margin-top: 20px;
  }
  .images_product {
    .customslider {
      display: flex;
      gap: 20px;
      @media screen and (max-width : 500px) {
        flex-direction: column;
        .bigPhoto{
          order: 1;
        }
        .imgsForShow{
          order: 2;
          display: flex;
          gap: 5px;
        }
      }
      .imgsForShow {
        .option {
          width: 70px;
          height: 70px;
          margin: 10px 0px;
          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }
      .bigPhoto {
        width: 100%;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
    select {
      border: 2px solid rgb(204, 204, 204);
      border-radius: 6px;
      padding: 4px 15px;
    }

    .btn_order {
      flex: 1;
      text-align: center;
      background-color: $main-Color-back;
      color: white;
      border-radius: 6px;
      padding: 10px 15px;
    }

    .favorite {
      border: 2px solid rgb(207, 207, 207);
      padding: 10px 12px;
      border-radius: 6px;
      box-shadow: inset var(--box-shadow);
      svg {
        color: gray;
      }
    }
  }

  .info_product {
    .title {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width : 1045px) {
        .outOfFive{
          display: none;
        }
      }
      .outOfFive{
        font-size: 20px;
        background-color: $main-Color-back;
        padding: 0px 8px;
        color: white;
        border-radius: 10px;
        max-width: fit-content;
      }
    }
    .rate{
      justify-content: space-between;
      .outOfFive{
        display: none;
        background-color: $main-Color-back;
        color: white;
        padding: 4px 8px;
        border-radius: 5px;
        @media screen and (max-width : 1045px) {
          display: flex;
        }
      }
    }

    .discount_payment {
      border: 1px solid $main-Color-back;
      padding: 10px 20px;
      width: 100%;
      text-align: center;
      border-radius: 8px;
    }

    .price {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 30px;
      h1 {
        font-size: 32px;
        font-weight: 600;
        color: black;
      }
    }

    .items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;

      .item {
        padding: 0 10px;
        img {
          width: 40px;
          margin: 0 auto;
        }

        span {
          font-size: 12px;
          color: gray;
        }
      }
    }
    .last_part {
      box-shadow: var(--box-shadow);
      margin-top: 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      border-radius: 10px;
      .flex {
        align-items: center;
        gap: 10px;
        .img {
          background-color: #ddd;
          padding: 5px;
          border-radius: 50%;
        }
        .con {
          p {
            span {
              color: $main-Color-back;
              margin: 4px;
              font-size: 18px;
              i {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .overview {
    margin-top: 40px;
    padding: 30px 0px;
    background-color:var(--secondBG);
    .testMargin{
      margin: 0 20px;
    }
    .title {
      font-size: 30px;
      font-weight: 600;
      border-bottom: 1px solid #a5a3a3;
    }

    h4 {
      font-size: 22px;
      font-weight: 600;
      margin-top: 8px;
      margin-bottom: 12px;
    }

    ul {
      li {
        display: flex;
        gap: 5px;
        color: gray;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .desc {
      color: gray;
      display: inline;
    }

    table {
      width: 100%;

      tr {
        td {
          color: gray;
          font-size: 17px;
          padding: 4px;
        }

        &:nth-child(2n + 1) {
          td {
            background-color: var(--mainBG) ;
          }
        }
      }
    }
  }

  .main_section{
    .box{
      box-shadow: var(--box-shadow);
      border-radius: 5px;
      padding: 10px;
      .image{
        img{
          border-radius: 5px;
          height: 300px;
          width: 100%;
        }
        position: relative;
        .absloute{
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .heart , .cart{

            background-color: $main-Color-back;

            padding: 4px 8px;
            color: $main-Color-back;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            max-width: fit-content;
          }
          .items-center{
            p {
              background-color: $main-Color-back;
              padding: 2px 8px;
              color: $main-Color-back;
              border-radius: 5px;
              cursor: pointer;
              max-width: fit-content;
              font-size: 14px;
              i{
                font-size: 10px;
              }
            }
          }
        }
      }
      .text{
        margin-top: 10px;
        .price{
          color: $main-Color-back;
          font-size: 20px;
        }
        h3{
          background-color: $main-Color-back;
          width: fit-content;
          padding: 4px 10px;
          border-radius: 5px;
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}
