@import "../../assets/variables.scss";

body.ar {
  .also_view {
    .viewProducts {
      .product {
        .front {
          img {
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 60px;
            border-bottom-left-radius: 60px;
          }
        }
        .back {
          border-top-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 60px;
          border-bottom-left-radius: 60px;
          .label {
            left: auto;
            right: 20px;
          }
        }
      }
    }
  }
}

.shein_item_profile {
  .container {
    margin-top: 20px;
  }
  .images_product {
    .customslider {
      display: flex;
      gap: 20px;
      @media screen and (max-width : 500px) {
        flex-direction: column;
        .bigPhoto{
          order: 1;
        }
        .imgsForShow{
          order: 2;
          display: flex;
          gap: 5px;
        }
      }
      .imgsForShow {
        .option {
          width: 70px;
          height: 70px;
          margin: 10px 0px;
          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }
      .bigPhoto {
        width: 100%;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
    select {
      border: 2px solid rgb(204, 204, 204);
      border-radius: 6px;
      padding: 4px 15px;
    }

    .btn_order {
      flex: 1;
      text-align: center;
      background-color: $main-Color-back;
      color: white;
      border-radius: 6px;
      padding: 10px 15px;
    }

    .favorite {
      border: 2px solid rgb(207, 207, 207);
      padding: 10px 12px;
      border-radius: 6px;
      box-shadow: inset 0 0 6px rgb(210, 210, 210);

      svg {
        color: gray;
      }
    }
  }

  .info_product {
    .title {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .discount_payment {
      border: 1px solid $main-Color-back;
      padding: 10px 20px;
      width: 100%;
      text-align: center;
      border-radius: 8px;
    }

    .price {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 30px;
      h1 {
        font-size: 32px;
        font-weight: 600;
        color: black;
      }
    }

    .items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;

      .item {
        padding: 0 10px;
        img {
          width: 40px;
          margin: 0 auto;
        }

        span {
          font-size: 12px;
          color: gray;
        }
      }
    }
    .last_part {
      box-shadow: 0px 0px 15px #ddd;
      margin-top: 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      border-radius: 10px;
      .flex {
        align-items: center;
        gap: 10px;
        .img {
          background-color: #ddd;
          padding: 5px;
          border-radius: 50%;
        }
        .con {
          p {
            span {
              color: $main-Color-back;
              margin: 4px;
              font-size: 18px;
              i {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .overview {
    margin-top: 50px;

    .title {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(224, 224, 224);
    }

    h4 {
      font-size: 22px;
      font-weight: 600;
      margin-top: 8px;
      margin-bottom: 12px;
    }

    ul {
      li {
        display: flex;
        gap: 5px;
        color: gray;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .desc {
      color: gray;
    }

    table {
      width: 100%;

      tr {
        td {
          color: gray;
          font-size: 17px;
          padding: 4px;
        }

        &:nth-child(2n + 1) {
          td {
            background-color: rgb(240, 244, 253);
          }
        }
      }
    }
  }
  .also_view {
    margin: 30px 0px;
    h1 {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .viewProducts {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20px;
      .product {
        position: relative;
        cursor: pointer;
        &:hover > .front {
          transform: perspective(600px) rotateY(-180deg);
        }
        &:hover > .back {
          transform: perspective(600px) rotateY(0deg);
        }
        height: 300px;
        .front,
        .back {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          backface-visibility: hidden;
          transition: ease-in-out 0.5s;
        }
        .front {
          transform: perspective(600px) rotateY(0deg);
          img {
            height: 100%;
            width: 100%;
            border-top-left-radius: 60px;
            border-bottom-right-radius: 60px;
          }
        }
        .back {
          background: $main-Color-back;
          transform: perspective(600px) rotateY(180deg);
          display: flex;
          color: white;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 20px;
          border-top-left-radius: 60px;
          border-bottom-right-radius: 60px;
          p {
            margin: 10px 0px;
          }
          .icon {
            position: absolute;
            width: 100%;
            padding: 0px 30px;
            top: 20px;
            left: 0;
            display: flex;
            justify-content: space-between;
            i {
              background-color: white;
              padding: 10px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $main-Color-back;
              cursor: pointer;
            }
          }
          .label {
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
        }
      }
    }
  }
}
