@import "../../assets/variables.scss";
.work {
  margin-top: 30px;

  .swiper {
    .box {
      border-top-right-radius: 60px  ;
      border-bottom-left-radius: 60px;
      cursor: grabbing;
      img {
        border-top-right-radius: 60px ;
        border-bottom-left-radius: 60px;
      }
    }
  }
  .gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px; 
    gap: 10px;
    img{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      &.img-2{
        grid-row: span 2;
        grid-column: span 2;
      }
      &.img-5{
        grid-row: span 2;
      }
      &.img-1{
        grid-row: span 2;
      }
      &.img-4{
        grid-row: span 2;
      }
      
    }

  }
}
