@import "../../assets/variables.scss";

body.ar{
  .banner_page{
    button{
      flex-direction: row;
    }
  }
}

.banner_page {
  background-image: url(../../assets/images/banner-page.jpg);
  margin-bottom: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $main-Color-back-trans;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.8;
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    flex-direction: column;
    h1 {
      font-size: 45px;
      font-weight: 600;
      color: white;
    }
    button{
      background-color:  #4C06A7 ;
      color: white;
      padding:6px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 5px;
    }
  }
}

@media screen and (max-width : 768px) {
  .banner_page{
    display: none;
  }
}
